dataset
.venv
__pycache__/*
__pycache__/viewer_app.cpython-314.pyc
*.mexmac64
**mexmaca64
*.pyc
*.log
wandb
result/checkpoints
AGENTS.md
STDIN.*
.ipynb_checkpoints
*.gz
result/cross_validation
.virtual_documents
node_modules
result/cross_eval
NUL
